@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto Mono"; }

.mousemenu {
  color: #ccc;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: .25rem;
  z-index: 999;
  display: grid; }
  .mousemenu .top {
    display: grid;
    align-items: center;
    grid-auto-flow: column; }
  .mousemenu box {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    border-radius: .25rem; }
    .mousemenu box.lp {
      background: #ffcdd2; }
    .mousemenu box.lr {
      background: #f87680; }
    .mousemenu box.lm {
      background: #e92832; }
    .mousemenu box.li {
      background: #9a191c; }
    .mousemenu box.lt {
      background: #531313; }
    .mousemenu box.rp {
      background: #BBDEFB; }
    .mousemenu box.rr {
      background: #67b3f3; }
    .mousemenu box.rm {
      background: #1786e7; }
    .mousemenu box.ri {
      background: #125490; }
    .mousemenu box.rt {
      background: #09243d; }

body {
  background: #1e1e1e;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  padding: 0;
  margin: 0; }

.title {
  color: #aaa;
  width: min-content;
  margin-bottom: 2rem; }
  .title .top {
    font-size: 3rem;
    line-height: 3rem; }
  .title .bottom {
    font-size: 1rem;
    opacity: .5;
    text-align: right; }

.tips {
  text-align: center;
  margin-top: 2rem;
  color: #444; }

.fingerbuttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  gap: 2rem; }
  .fingerbuttons .title {
    color: #aaa;
    margin-bottom: 1rem;
    text-align: center; }
  .fingerbuttons .left, .fingerbuttons .right {
    background: #222;
    border-radius: 0.25rem;
    padding: 2rem; }
  .fingerbuttons .buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    justify-items: center; }
    .fingerbuttons .buttons .button {
      background: #333;
      color: transparent;
      border-radius: .25rem;
      text-align: center;
      padding: 1rem;
      height: min-content;
      cursor: pointer;
      transition: 0.25s background, 0.25s opacity;
      user-select: none;
      height: 5rem;
      width: 5rem; }
      .fingerbuttons .buttons .button.index, .fingerbuttons .buttons .button.ring {
        margin-top: .5rem; }
      .fingerbuttons .buttons .button.pinky {
        margin-top: 1.5rem; }
      .fingerbuttons .buttons .button.thumb {
        margin-top: 4rem; }
      .fingerbuttons .buttons .button:hover {
        background: #444;
        cursor: pointer; }
  .fingerbuttons .left .button.pinky {
    background: #ffcdd2; }
  .fingerbuttons .left .button.ring {
    background: #f87680; }
  .fingerbuttons .left .button.middle {
    background: #e92832; }
  .fingerbuttons .left .button.index {
    background: #9a191c; }
  .fingerbuttons .left .button.thumb {
    background: #531313; }
  .fingerbuttons .right .button.pinky {
    background: #BBDEFB; }
  .fingerbuttons .right .button.ring {
    background: #67b3f3; }
  .fingerbuttons .right .button.middle {
    background: #1786e7; }
  .fingerbuttons .right .button.index {
    background: #125490; }
  .fingerbuttons .right .button.thumb {
    background: #09243d; }

keyboard {
  background: #222;
  display: grid;
  width: min-content;
  border-radius: 0.25rem;
  padding: 1rem;
  gap: 0.5rem; }
  keyboard row {
    display: grid;
    grid-auto-flow: column;
    width: min-content;
    gap: 0.5rem;
    justify-content: space-between;
    width: 100%; }
    keyboard row key {
      position: relative;
      border-radius: 0.5rem;
      font-size: 1rem;
      width: 5rem;
      height: 5rem;
      background: #333;
      color: transparent;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      transition: 0.25s background;
      cursor: pointer;
      user-select: none; }
      keyboard row key[fontSize="2"] {
        font-size: 1.25rem; }
      keyboard row key[size="1.25"] {
        width: 6.25rem; }
      keyboard row key[size="1.5"] {
        width: 7.5rem; }
      keyboard row key[size="1.75"] {
        width: 8.75rem; }
      keyboard row key[size="2"] {
        width: 10rem; }
      keyboard row key[size="2.25"] {
        width: 11.25rem; }
      keyboard row key[size="2.5"] {
        width: 12.5rem; }
      keyboard row key[size="2.75"] {
        width: 14.75rem; }
      keyboard row key[size="6.25"] {
        width: 31.25rem; }
      keyboard row key[size="6.5"] {
        width: 33.5rem; }
      keyboard row key[homing="yes"]::after {
        content: "";
        position: absolute;
        background: #222;
        height: .25rem;
        top: 4rem;
        left: 1.5rem;
        width: 2rem;
        border-radius: 0.25rem; }
      keyboard row key:hover {
        background: #444; }
      keyboard row key.lp {
        background: #f44336; }
      keyboard row key.lr {
        background: #e53935; }
      keyboard row key.lm {
        background: #d32f2f; }
      keyboard row key.li {
        background: #c62828; }
      keyboard row key.lt {
        background: #b71c1c; }
      keyboard row key.rp {
        background: #2196F3; }
      keyboard row key.rr {
        background: #1E88E5; }
      keyboard row key.rm {
        background: #1976D2; }
      keyboard row key.ri {
        background: #1565C0; }
      keyboard row key.rt {
        background: #0D47A1; }
